body{
    height: 100vh;
    width: 100vw; 
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    color: #369;
}

.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}

#drop-area {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #EEE;
  border: #999 5px dashed;
  width: 290px;
  height: 200px;
  padding: 8px;
  font-size: 18px;
}

#drop-area.highlight {
  border-color: purple;
}

p {

  margin-top: 0;
}

.my-form {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#files  {
  margin-top: 10px;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button:hover {
  background: #ddd;
}

#fileElem {
  display: none;
}

.submit_button{

}
/* body{
    height: 100vh;
    width: 100vw; 
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#drop_file_zone {
    background-color: #EEE;
    border: #999 5px dashed;
    width: 290px;
    height: 200px;
    padding: 8px;
    font-size: 18px;
}

#drag_upload_file {
    width:50%;
    margin:0 auto;
}

#drag_upload_file p {
    text-align: center;
}

#drag_upload_file #selectfile {
    display: none;
} */