<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица</title>
    <link rel="shortcut icon" href={% static "/img/logo.png" %} >
    <link rel="stylesheet" href={% static '/styles/table_style.css' %}>
    {% comment %} <script src={% static "/scripts/archive.js" %}></script> {% endcomment %}

</head>
<body>
    <header>
        <a href="/wipe_data" class="header-button">
            <p><b>Очистить данные</b></p>
        </a>
        <a href="/" class="header-button">
            <p><b>На главную</b></p>
        </a>
    </header>
    
    <div class="table_container">
    {% include "panel.html" %}
        <table class="table">
        <tr>
            <td>Код</td>
            <td>Наименование</td>
            <td>Уровень1</td>
            <td>Уровень2</td>
            <td>Уровень3</td>
            <td>Цена</td>
            <td>ЦенаСП</td>
            <td>Количество</td>
            <td>Поля свойств</td>
            <td>Совместные покупки</td>
            <td>Единица измерения</td>
            <td>Картинка</td>
            <td>Выводить на главной</td>
            <td>Описание</td>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.level1.name }}</td>
                <td>{{ product.level2.name }}</td>
                <td>{{ product.level3.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.priceSP }}</td>
                <td>{{ product.unit.name }}</td>
                <td>{{ product.count }}</td>
                <td>{{ product.properties }}</td>
                <td>{{ product.joint_purchases }}</td>
                <td>{{ product.picture }}</td>
                <td>{{ product.on_general }}</td>
                <td>{{ product.note }}</td>
            </tr>
        {% endfor %}
        </table>
        {% include "panel.html" %}
    </div>
    
</body>
</html>